.appContainer {
  text-align: center;
  font-family: 'VT323', monospace; 
  background-color: #12175a;
  min-height: 100vh;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 30px;
  padding: 15px;
  background-color: #4269bd;
  border-radius: 5px;
  font-family: 'Arial', 'sans serif'; 
}

  
  .link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #26a25c;
    border-radius: 5px;
  }
  
  .link:hover {
    background-color: #419729;
  }
  